# object files generated during build
*.o
# executables
*DB
# archive and test
archive*
tests*
# tags and cscope
*cscope*
*tags*

# Python cache directories
__pycache__/
*.py[cod]
*$py.class

# Python debug logs
pexpect.debug.log
**/pexpect.debug.log

# Misc
todo*